*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(35, 60%, 92%);
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
}
h1 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color:#633b18;
    margin-bottom: 20px;
}
nav.abajo {
        background-color: #cfb295;
        border-radius: 0px;
        padding: 8px;
        width: 100%;
        position: fixed;
    .nav_logo {
        width: 50px;
        margin-top: 12px;
    }
    h1 {
        font-size: 15px;
    }
    .nav_list {
        font-size: 18px;
    }
    .nav_container {
    width: min(98%, 1400px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;

}
    }
body, html {
    margin: 0;
    height: 100%;
}
.nav {
    background-color: #c4a484ae;
    padding: 8px;
}
.nav_container {
    width: min(98%, 1400px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;

    --icon-toggle-menu: url("menu_open.svg");
    --transform-menu-show: translate(-100%)
}
.nav_list {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;

    display: grid;
    place-content: center;
    gap: 1.3rem;
    text-align: center;
    background-color: hsla(38, 69%, 90%, 0.976);

    padding: 1.5rem 5%;
    list-style: none;

    transition: .5s transform;
}
.nav_link {
    color: #633b18;
    text-decoration: none;
    transition: 0.7s;
}
.nav_logo {
    position: relative;
    width: 60px;
    margin-bottom: -15px;
    margin-top: 8px;
}
.nav_figure, .nav_toggle {
    z-index: 10;
}
.nav_input {
    display: none;
}
.nav_container:has(.nav_input:checked) {
        --icon-toggle-menu: url("menu_close.svg");
        --transform-menu-show: translate(0);
}
.nav_toggle { 
    position: relative;
    width: 38px;
    height: 38px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: backgroud-image .3s;
}
        .nav_link:hover {
        padding: 5px;
        background-color: #2c2415;
        color: rgb(197, 175, 141);
        border: 2px solid;
        border-radius: 30px;
        transition: 0.5s;
    }
h2 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-size: 26px;
    color: #633b18;
    font-size: 38px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
hr {
    border: 1.8px solid #633b18;
    border-radius: 50px;
}
.menu-container {
    gap: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
}
.menu-items {
    width: 130px;
    height: 185px;
    background-color: #633b18;
    border-radius: 8px;
    margin-bottom: 20px;
}
.menu-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.menu-item-title {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: white;
    text-align: center;
}
.price-ch, .price-gr {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: white;
    text-align: center;
}

@media (width > 700px) {
    .nav {
        padding: 20px;
    }
    .nav_container {
        --transform-menu-show: translate(0);
        height: 70px;
    }
    .nav_toggle {
        display: none;
    }
    .nav_list {
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;

        transition: unset;

        font-size: 18px;
    }
    .nav_logo {
        width: 80px;
        margin-top: 0px;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 14px;
    }
    .nav_container {
        width: min(98%, 1360px);
        margin: 0 auto;
}
        .nav_link:hover {
        padding: 5px;
        background-color: #2c2415;
        color: rgb(197, 175, 141);
        border: 2px solid;
        border-radius: 30px;
    }
    .nav_list {
        background-color: transparent;
}
nav.abajo {
        background-color: #cfb295;
        padding: 12px;
        width: 100%;
        position: fixed;
    .nav_logo {
        width: 68px;
        margin-top: 12px;
    }
    h1 {
        font-size: 25px;
    }
    .nav_list {
        font-size: 20px;
    }
    .nav_container {
        height: 60px;
    }

    }
    h1 {
        font-size: 24px;
    }
    .nav_list {
        font-size: 20px;
    }
.menu-items {
    width: 180px;
    height: 260px;
    background-color: #633b18;
    border-radius: 8px;
    margin-bottom: 20px;
}
.menu-item-title {
    font-size: 20px;
}
.price-ch, .price-gr {
    font-size: 14px;
}
}
@media (width > 900px) {
    .menu-items {
    width: 250px;
    height: 350px;
    background-color: #633b18;
    border-radius: 13px;
    margin-bottom: 20px;
}
.menu-item-title {
    font-size: 25px;
}
.price-ch, .price-gr {
    font-size: 16px;
}
.nav {
    padding: 28px;
}
    nav.abajo {
        background-color: #cfb295;
        padding: 15px;
        width: 100%;
        position: fixed;
    .nav_logo {
        width: 90px;
        margin-top: 0px;
    }
    h1 {
        font-size: 24px;
    }
    .nav_list {
        font-size: 18px;
    }
    .nav_container {
        height: 70px;
    }
}
    .nav_logo {
        width: 100px;
        margin-top: 0px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 50px;
    }
    .menu-container {
        gap: 5.3em;
    }
    .menu-img {
        border-radius: 12px;
    }
        .nav_list {
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;

        transition: unset;
        font-size: 22px;
    }
}
