
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
}
.pag1 {
    width: 100%;
    height: 100vh;
    background-image: url(bacg-img-v.jpg);
    background-size: cover;
    background-position: center center; 
}
#pag_2 {
    margin: 0;
    padding: 0;
    background-color: #94a072;
}
#pag_3 {
    margin: 0;
    padding: 0;
    background-color: #94a072;
}
nav.abajo {
    background-color: hsl(36, 69%, 81%);
    padding: 12px;
    width: 100%;
    position: fixed;
}
body, html {
    margin: 0;
    height: 100%;
}
.nav {
    padding: 13px;
}
nav.abajo {
        background-color: hsl(35, 73%, 86%);
        padding: 8px;
        width: 100%;
        position: fixed;
    .nav_logo {
        width: 50px;
        margin-top: 12px;
    }
    h1 {
        font-size: 15px;
    }
    .nav_list {
        font-size: 18px;
    }
    .nav_container {
    width: min(98%, 1400px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;

}
}
.nav_container {
    width: min(98%, 1400px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;

    --icon-toggle-menu: url("menu_open.svg");
    --transform-menu-show: translate(-100%)
}
h1 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-size: 26px;
    font-style: normal;
    color:#633b18;
    margin-bottom: 20px;
}
h2 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    color: #f0e1c8;
    text-align: center;
    padding-top: 30px;
}
.nav_list {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;

    display: grid;
    place-content: center;
    gap: 1.5rem;
    text-align: center;
    background-color: hsla(38, 69%, 90%, 0.955);

    padding: 1.5rem 5%;
    list-style: none;

    transition: .5s transform;
}
.nav_link {
    color: #633b18;
    text-decoration: none;
    transition: 0.7s;
}
.nav_logo {
    position: relative;
    width: 90px;
    margin-bottom: -15px;
    margin-top: 8px;
}
.nav_figure, .nav_toggle {
    z-index: 10;
}
.nav_input {
    display: none;
}
.nav_container:has(.nav_input:checked) {
        --icon-toggle-menu: url("menu_close.svg");
        --transform-menu-show: translate(0);
}
.nav_toggle { 
    position: relative;
    width: 38px;
    height: 38px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: backgroud-image .3s;
}
.nav_link:hover {
    padding: 5px;
    background-color: #2c2415;
    color: rgb(197, 175, 141);
    border: 2px solid;
    border-radius: 30px;
    transition: 0.5s;
    }
h3 {
    font-size: 1.2em;
    color: #633b18;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);

}
.menu_items {
    background-color: hsl(36, 61%, 83%);
    min-width: 180px;
    min-height: 120px;
    padding: 20px;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    transition: transform 0.3s, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.menu-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-bottom: 4px solid #633b18;
}
.menu_itm {
    min-width: 100px;
    min-height: 100px;
}
.map {
    padding: 50px;
    background-color: #899569;
    display: flex;
    justify-content: center;
}
h4 {
    font-size: 25px;
    padding: 10px;
}
#footer {
    background-color: hsla(36, 58%, 82%, 0.889);
    color: #633b18;
    text-align: center;
}
#footer a {
    text-decoration: none;
    color: #633b18;
}
#footer p {
    padding: 4px;
}
.abt {
    font-family: Arial, Helvetica, sans-serif;
    color: #f0e1c8;
    text-align: center;
    padding: 40px;
}
hr {
    border: 1px solid #ebd2bc;
}
.rights {
    background-color: hsla(36, 58%, 82%, 0.889);
    padding: 20px;
    font-size: 12px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(53, 52, 52, 0.706);
}
@media (width > 700px) {
    .nav_container {
        --transform-menu-show: translate(0);
        height: 90px;
    }
    .nav_toggle {
        display: none;
    }
    .nav_list {
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;

        transition: unset;

        font-size: 22px;
    }
    .nav_link:hover {
        padding: 5px;
        background-color: #2c2415;
        color: rgb(197, 175, 141);
        border: 2px solid;
        border-radius: 30px;
    }
    .nav_logo {
        width: 120px;
        margin-top: 55px;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 28px;
    }
    .nav_container {
        width: min(98%, 1360px);
        margin: 0 auto;
}
    .box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
}
    .menu_items {
        min-width: 310px;
        min-height: 200px;
}
    h2 {
        font-size: 50px;
        margin-bottom: 12px;
}
    h3 {
        font-size: 33px;
}
    .price {
        font-size: 20px;
}
    .pag1 {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(backg-img.jpg);
        background-size: cover;
        background-position: center center;
}
    .nav_list {
        background-color: transparent;
}
    nav.abajo {
        background-color: hsl(35, 57%, 91%);
        padding: 15px;
        width: 100%;
        position: fixed;
    .nav_logo {
        width: 90px;
        margin-top: 12px;
    }
    h1 {
        font-size: 24px;
    }
    .nav_list {
        font-size: 18px;
    }
    .nav_container {
        height: 70px;
    }
}
    .box {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        justify-content: center;
}
}